<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="num-row">
  <input name="ch1" type="radio" id="choice1">
  <label for="choice1">0-10</label>
  <input name="ch1"  type="radio" id="choice2">
  <label for="choice2">0-40</label>
  <input name="ch1"  type="radio" id="choice3">
  <label for="choice3">0-100</label>
  <input name="ch2"  type="radio" id="choice4">
  <label for="choice4">-</label>
  <input name="ch2"  type="radio" id="choice5">
  <label for="choice5">+</label>
</div>
<div id="calculator-section">
  <form class="myform" [formGroup]="myForm">
    <div class="num-row">
      <input id="calcNum1" name="number1" formControlName="number1" required>
      <input id="znak" name="znak" formControlName="znak" required>
      <input id="calcNum2" name="number2" formControlName="number2" required>=
      <input id="corNum" name="corNum" formControlName="corNum" required>
      <button id="genSubmit">?</button>
      <input id="calcNum" name="number" formControlName="number" required>
    </div>
    <div class="num-row-cont">
      <div class="num-row"> <button id="one" name="num">1</button><button id="two" name="num">2</button><button
          id="free" name="num">3</button> </div>
      <div> <button id="four" name="num">4</button><button id="five" name="num">5</button><button id="six"
          name="num">6</button> </div>
      <div> <button id="seven" name="num">7</button><button id="eight" name="num">8</button><button id="nine"
          name="num">9</button> </div>
      <div> <button id="zero" name="num">0</button><button id="enterSubmit">OK</button> </div>
    </div>
  </form>
</div>